/*style.css*/
body {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
}

.features-note-caption {
  color: #fffff;
  line-height: 21pt;
  font-size: 21pt;
  font-style: bold;
}

.feature-icon-caption {
  color: #00000;
  line-height: 21pt;
  font-size: 21pt;
  font-style: bold;
}

a {
  text-decoration: none;
  font-style: bold;
}

.main-header{
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}
.sait-navigation{
  list-style: none;

}
.sait-navigation a{
  color:#000000;
  text-transform: uppercase;
  font-weight: bold;
}
.sait-navigation a:hover{
  color:#81b3d2;
}
.sait-navigation a:active{
  color:#dedede;
}


.description-bold {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}
.description-lowercase{
  font-size: 14px;
  line-height: 26px;
}

.main-description{
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.features-note-block{
  color:#ffffff;
  text-align: center;
  background-color: #81b3d2;
}
.features-note-caption{
  color:#ffffff;
}
.feature-list{
  font-size: 14px;
  line-height: 21px;
  list-style: none;
  text-align: center;
}

.feature-list h3{
  font-size: 21px;
  line-height: 21px;
}
.interest h3{
  font-size: 30px;
  line-height: 36px;
}
.interest{
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.interest-button{
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  background-color: #766357;
  color: #ffffff;
}

.interest-button:hover{
  background-color: #604e43;
}

.interest-button:active{
  background-color: #503e33;
  color: rgba;

}

.modal-search input:{
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: auto;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
}

.modal-search input:hover{
  background-color: #ebebeb;
}
.modal-search input:active{
  background-color: transparent;
  border: 2px solid:#e5e5e5;
}
.modal-search-text::-webkit-input-placeholder{
  font-size: 14px;
  line-height: auto;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
}

.modal-search label{
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}
.modal-search-button{
  background-color: #81b3d2;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

.modal-search-button:hover{
  background-color: #669ec0;
}

.modal-search-button:active{
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.visit{
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-copyright{
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}



.filters{
  background-image: url("../img/fon.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;

}
