/*style.css*/
body{
  font-family: "PTSansRegulars",
               "PTSans",
               "PTSansBold";
}

.features-note-caption{
  font-family: "PTSansRegularsBold";
  color: #ffffff;
  line-height: 21pt;
  font-size: 21pt;
  font-style: bold;
}

.feature-icon-caption{
  font-family: "PTSansRegularsBold";
  color: #000000;
  line-height: 21pt;
  font-size: 21pt;
  font-style: bold;
}
